%h2 File stat

%ul
  %li Path: #{@path}
  %li
    ID of device containing file:
    #{stat_buf.dev_major},#{stat_buf.dev_minor}
    (devices numbers list:
    = link_to 'devices.txt', '/devices.txt'
    )
  %li
    Inode number:
    = link_to stat_buf.ino, "/inodes/#{stat_buf.ino}?device_numbers=#{stat_buf.dev_major}:#{stat_buf.dev_minor}"
  %li
    File type:
    = stat_buf.ftype
  %li
    File permissions:
    = stat_buf.mode.to_s(8)[-3, 3]
  %li
    Number of hard links:
    = stat_buf.nlink
  %li
    User ID of owner:
    = stat_buf.uid
  %li
    Group ID of owner:
    = stat_buf.gid
  %li
    Device ID (if special file):
    = stat_buf.rdev
  %li
    Total size in bytes:
    = stat_buf.size
  %li
    Block size for filesystem I/O:
    = stat_buf.blksize
  %li
    Number of 512 B blocks allocated:
    = stat_buf.blocks
  %li
    Time of last access:
    = stat_buf.atime
  %li
    Time of last modification:
    = stat_buf.mtime
  %li
    Time of last status change:
    = stat_buf.ctime
