%h2 Process' data
%ul
  - @data.each do |l|
    %li= l
%p
  Executable File:
  - unless @executable_file.include?('root')
    = link_to @executable_file, "/files/#{URI.encode_uri_component(@executable_file.gsub('.', '*'))}?type=process_exe"
  - else
    Kernel process

%p
  Process Network Connections:
  = link_to 'Go', "/processes/#{@pid}/sockets"

%h2 Process' file descriptors
= render 'fd', fd: @fd

%h2 Process' memory map
= render 'memory_map', memory_map: @memory_map

