%ul.navbar
  %li= link_to 'Processes Tree', '/processes'
  %li= link_to 'CPU data', '/cpu_data'
  %li= link_to 'PCI Devices', '/devices_data/pci'
  %li= link_to 'USB Devices', '/devices_data/usb'
  %li= link_to 'Storage', '/memory_data/disk'
  %li= link_to 'RAM', '/memory_data/ram'
