<!DOCTYPE html>
<html>
  <head>
    <title>Monlinux</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="/terminal/node_modules/@xterm/xterm/css/xterm.css" />
    <script src="/terminal/node_modules/@xterm/xterm/lib/xterm.js"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div id="terminal"></div>
    <%= yield %>
  </body>
  <script src="/terminal/frontend.js"></script>
</html>
